<div mat-dialog-content fxLayout="row" class="background-303134" fxLayoutGap="10px" fxLayoutAlign="start center">
  @if (showLoader && !error) {
    <mat-progress-spinner class="color-fefe" diameter="40" mode="indeterminate"></mat-progress-spinner>
  }
  @if (!error && success) {
    <mat-icon class="font-26 color-fefe">check_circle</mat-icon>
  }
  @if (!success && error) {
    <mat-icon class="font-26" color="warn">cancel</mat-icon>
  }
  <span class="color-fefe">{{message}}</span>
</div>
