@if (!currenUser) {
  <div class="mc-padding-r1" fxLayout="row" fxLayoutAlign="start center">
    <span fxFlex>Money Chunks</span>
    <span fxLayout="row" fxLayoutGap="10px">
      @for (b of contents; track b) {
        <button class="underline-button" mat-stroked-button [color]="currentContent===b ? 'warn':'primary'" [ngClass]="{'active': currentContent===b}" (click)="onNavigate(b)">
          {{ b }}
        </button>
      }
    <button mat-raised-button class="background-303134 color-fefe" (click)="onLogin()">Sign up and Continue</button>
    </span>
  </div>
  <div id="signup"></div>
}
<router-outlet></router-outlet>
