<div class="mc-padding-r2 font-16 color-fefe" fxLayout="column" fxLayoutGap="1rem">
  <h1>Welcome to Money Chunks - Earn Passive Income by Watching Ads!</h1>
  <p class="font-16">Are you looking for an effortless way to earn some extra cash? Look no further! Money Chunks offers you a unique opportunity to earn passive income simply by watching ads. With our user-friendly platform and generous rewards system, you can start making money in no time.</p>
  <h2>How it Works:</h2>
  <span>
    <p class="font-16">At Money Chunks, earning money is as easy as 1-2-3:</p>
  <ul class="font-16" fxLayout="column" fxLayoutGap="10px">
    <li>
      <b>Watch Ads:</b> Browse through our selection of video ads and banner ads. You can watch up to 15 video ads and 30 banner ads daily.
    </li>
    <li>
      <b>Earn Coins:</b> Each ad you watch earns you coins. The more ads you watch, the more coins you earn. Additionally, we offer faucets that dispense coins every 5 minutes, allowing you to accumulate even more earnings throughout the day.
    </li>
    <li>
      <b>Cash Out:</b> Once you reach a minimum of 1200 coins, you can cash out your earnings. We offer convenient payout options such as Paytm wallet or other preferred methods.
    </li>
  </ul>
  </span>
  <span>
    <h2>Terms and Conditions:</h2>
  <span fxLayout="column" fxLayoutGap="10px">
    <dd>
    All earnings are subject to terms and conditions. The amount of money earned may vary based on factors such as ad duration and advertiser rates.
  </dd>
  <dd>
    Users must be residents of the country where Money Chunks operates to participate.
  </dd>
  <dd>
    By using our platform, users agree to abide by our terms and conditions.
  </dd>
  <dd>
    Money Chunks reserves the right to modify or terminate the service at any time.
  </dd>
  </span>
  <dt>
    <h2 class="mc-padding-top-r1-25">Security and Privacy:</h2>
  </dt>
  <dt class="mc-margin-bottom-r0-25">
    At Money Chunks, your security and privacy are our top priorities:
  </dt>
  <span fxLayout="column" fxLayoutGap="10px">
    <dd> We do not store any sensitive bank information in our databases.</dd>
  <dd> We do not ask for OTPs or any other sensitive personal information.</dd>
  </span>
  <dt class="mc-margin-top-r1-25">
    Your data is safe and secure with us. We use industry-standard encryption protocols to protect your information.
    Join Money Chunks today and start earning passive income effortlessly. Sit back, relax, and watch your earnings grow with every ad you watch!
  </dt>
  </span>
</div>
