<div class="mc-padding-r2" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1rem">
  <div class="w-75" fxLayout="row wrap" fxLayoutGap="1.25rem">
    <ng-container *ngFor="let i of [].constructor(6)">
      <mat-card class="background-303134 mc-padding-r1 color-fefe w-48 mc-margin-bottom-r1-25">
        <mat-card-title fxLayout="row" class="font-26 mc-margin-bottom-r0-25 mc-padding-r1">
          <span>Faucet</span>
        </mat-card-title>
        <mat-card-content>
          <span class="font-14">You can claim your reward every 5 minutes. The amount you receive will be randomly selected between 5 and 50 chunks. Simply visit us regularly to accumulate your chunks. Happy claiming!</span>
        </mat-card-content>
        <mat-card-actions fxLayout="row-reverse" fxLayoutGap="10px">
          <button [disabled]="faucetDisabled" mat-raised-button (click)="onFaucetClick()">Get Faucet</button>
          <countdown (event)="handleEvent($event)" [config]="{leftTime: 10, format: 'mm:ss'}" #faucetCountdown />
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
  <div>Hello</div>
</div>
