@if (currentUser) {
  <div class="mc-padding-r1" fxLayout="row" fxLayoutAlign="start center">
    <span fxFlex>Money Chunks</span>
    <span fxLayout="row" fxLayoutGap="10px">
      @for (b of userContents; track b) {
        <button class="underline-button" mat-stroked-button [color]="currentUserContent===b ? 'warn':'primary'" [ngClass]="{'active': currentUserContent===b}" (click)="onUserNavigate(b)">
          {{ b }}
        </button>
      }
  </span>
    <button class="background-303134 color-fefe" mat-raised-button (click)="onLogout()">Logout</button>
  </div>
  <router-outlet></router-outlet>

}
