<div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="mc-padding-r1" fxLayout="row" fxLayoutAlign="start center">
  <button (click)="onNavigate('home')" class="color-fefe background-303134 border-radius-20" mat-stroked-button>
    <mat-icon class="color-fefe">arrow_back</mat-icon>
    Dismiss
  </button>
</div>
<div class="mc-padding-r2 login-card" fxLayout="column" fxLayoutAlign="start center">
  <mat-card class="background-303134 color-fefe">
    <mat-card-header fxLayout="row" fxLayoutAlign="center start">{{login ? 'Login': 'Register'}}</mat-card-header>
    <mat-card-subtitle class="color-fefe">
      Note:
      <span [style.font-weight]="400">
          Please do not use VPN. If we find any suspicious activity on this IP Address. This will terminate your account and your IP Address would be banned.
        </span>
      @if (loginErrorMessage) {
        <span class="w-100" fxLayout="row" fxLayoutAlign="center center">
          <mat-error>{{loginErrorMessage}}</mat-error>
        </span>
      }
    </mat-card-subtitle>
    <mat-card-content class="mc-margin-bottom-r1">
      @if (login) {
        <mc-input label="Username/Email" type="text" [formControl]="userControl" placeholder="Enter Username/Email"></mc-input>
        <mc-input label="Password" type="password" [formControl]="passwordControl" placeholder="Enter Password"></mc-input>
        <span class="font-12">Forgot Password? <span class="underline-button">Click Here</span></span>
      }
      @if (signUp) {
        <mc-input label="Username" hint="must include any one _-$." type="text" [formControl]="signupFormGroup.controls['username']" placeholder="Enter Username"></mc-input>
        <mc-input label="Email" type="email" [formControl]="signupFormGroup.controls['email']" placeholder="Enter Email"></mc-input>
        <mc-input label="Password" hint="must contain atleast one capital, special" type="password" [formControl]="signupFormGroup.controls['password']" placeholder="Enter Password"></mc-input>
        <mc-input label="Confirm Password" type="password" [formControl]="signupFormGroup.controls['confirmPassword']" placeholder="Enter Password"></mc-input>
        <span class="font-12">Already have an Account? <span class=" underline-button" (click)="onNavigate('login')">Login</span></span>
      }
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      @if(login) {
        <button mat-flat-button class="w-100" (click)="authenticateCreds()" color="warn font-16">Login</button>
      }
      <button mat-raised-button color="primary" (click)="onNavigate('signup')" class="w-100 font-16">Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>
