/* You can add global styles to this file, and also import other style files */
@import "_content.scss";

html, body {
  height: 100%;
  width: 100%;
  color:  #fefefe;
  background: #202124;
  font-size: 14px;
}
body {
  margin: 0;
}

.mat-mdc-button {
  color: #1e1e1e !important;
}

.active {
  color: #1e7ddb !important;
}
