::ng-deep {
  .mc-input-field.mat-mdc-form-field {
    .mdc-text-field--filled {
      background: transparent;
    }
    .mat-mdc-form-field-hint-wrapper {
      width: 100%;
    }
    .mdc-line-ripple::before {
      border-bottom-color: #f0f4f9 !important;
    }
  }
}
