<mat-form-field appearance="fill" class="mc-input-field" [style.width.%]="100">
  <mat-label class="color-f0f4f9">{{label}}
  </mat-label>
  <input matInput class="color-f0f4f9" [type]="type" [placeholder]="placeholder" [formControl]="control" (keydown)="onTextChanges()"/>
  @if (hint) {
    <mat-hint class="color-f0f4f9 font-9">{{hint}}</mat-hint>
  }
</mat-form-field>
